*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    
}

section div input{
    width: 100%;
}

section div button{
    width: 80px;
    height: 50px;
    
}