*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30 41 59);
}

section{
    display: flex;
    flex-direction: column;
    border: 10px solid #ea899a;
    border-top: 25px solid #ea899a;
}

.pantalla{
    display: flex;
    border: 2px solid gray;
    border-bottom: none;
}

.botones button{
    border: none;
    width: 100%;
    height: 50%;
    font-size: x-large;
    font-weight: 500;
    background-color: #ea899a;
    border-left: 2px solid gray;
}

.botones .punto{
    border-top: 2px solid gray;
}

section .pantalla input{
    width: 350px;
    height: 100px;
    font-size: xx-large;
    font-weight: 800;
    background-color: #87f4fe;
    border: none;
}

.numeros{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ea899a;
    border: 1.5px solid gray;
}

.numeros button{
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: xx-large;
    background-color: #ea899a;
    border: 1px solid gray;
}

button:hover{
    cursor: pointer;
}

button:active{
    border: 1px solid black;
    color: gray;
}